@media screen and (max-width: 1024px) {
	.nav>li>a {
	    font-size: 10px;
	    padding: 0px 5px;
	}
	.nav>li {
	    margin-left: 0px;
	}
	.banner_section_content h2 {
	    margin: 0px;
	    font-size: 16px;
	}
	
}
@media screen and (max-width:991px) {
	.banner_section_content_bottom {
	    width: 100%;	    
	}
	.logo_image img {
		width: 130px;
		height: 40px;
	}
	.nav>li>a {
	    padding: 0px 4px;
	}
	.socila_padding_left {
	       padding: 10px 100px;
	    border-left: 0px solid #555;
	}
	.socila_padding_both {
	        padding: 10px 100px;
	    border-left: 0px solid #555;
	}
	.social_padding_right {
	        padding: 10px 100px;
	    border-right: 0px solid #555;
	    border-left: 0px solid #555;
	}
	.textwidget{
		min-height: 62px;
	}
	.social_icon {
	    
	    border: 1px solid #666;
	}
	.home_and_hospital, .you_will_be, .no_win_to_fee, .sidebar_overseas_title, .textimonial_title h3 {	    
	    font-size: 21px;	    
	}
	.sidebar_oversase_images_text p {
	    
	    font-size: 16px;
	}
	.what_we_do_information_title h3 {
	    font-size: 40px;
	   
	}
	.what_we_do_information_title p{
		font-size: 17px;
	}
	.what_we_do_info h3 {
	    font-size: 25px;
	   
	}
	.what_we_do_info a {
	    font-size: 21px;
	    
	}
	.what_we_do_info {
	    
	    margin-bottom: 20px;
	}
	.compensation_law_content h3 {
	  
	    font-size: 20px;
	}
	.compensation_law_content p {
	    
	    font-size: 17px;
	}
	.blog_header_content {
	   
	    margin-top: 50px;
	}
	.blog_right_sidebar_content p {
	    font-size: 30px;
	}
	.common_banner_images img {
	    width: 100%;
	    height: auto;
	    margin-top: 15px;
	}

}

@media screen and (max-width: 799px){

}

@media screen and (max-width:768px) {		
	.logo_image img {
	    width: 135px;
	    height: 35px;
	}
	.banner_section_content_margin_buttom {
	   
	    width: 100%;
	    margin-bottom: 30px;
	}
	.banner_section_content {	    
	    width: 100%;
	    margin-bottom: 30px;
	}
	.banner_section_content h2 {
	    
	    font-size: 19px;
	}
}
@media screen and (max-width: 767px){
	.logo_image img {
	    width: 170px;
	    height: 40px;
	}
	.celebrate_year img {
	    top: 45px;
	    left: 280px;	    
	}
	.celebrate_year {
	    margin-bottom: 50px;
	}
	.wellcome_text h3 {
	    
	    font-size: 25px;
	}
	.wellcome_text p {
	    
	    font-size: 18px;
	    
	}
	.how_can_help_text h3 {
	    
	    font-size: 25px;
	}
	.how_can_help_text p{
		font-size: 18px;
	}
	.sideber_title h3 {	    
	    font-size: 25px;
	   
	}
	.right_sideber_body p {	    
	    font-size: 20px;	    
	}
	.right_sideber_body .quick_button {
	    
	    font-size: 25px;
	    
	}
	.footer_information h3 {
	    
	    font-size: 35px;
	}
	.footer_short_discription p {
	    text-align: justify;
	    color: #BABABA;
	    font-size: 18px;
	}
	.footer_information li {
	    
	    font-size: 18px;
	    
	}
	.copyright p {
	    
	    font-size: 18px;
	}
	.soli_content p{
		font-size: 17px;
	}
	.navbar-nav {
	    float: left; 
	    
	}
	.navbar-default .navbar-nav>li>a {
	   
	    font-size: 18px;
	   
	}
	.nav>li {
	    margin-left: 20px;
	    margin-top: 15px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	    
	    font-size: 16px;
	}
	.logo_image img {
	    width: 100%;
	    height: auto;
	}
	.bg_col {
		/*position: absolute;
		top: 15px;*/
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    margin-top: 17px;
	    background: #fff;
	}
	.top_header_content{
		position: absolute;
    	right: 37px;
    	top: -80px;
	}
	.top_header_content ul{
    	margin-top: 30px;
	}
	.top_header_content ul li{
		float: left;
		margin-left: 10px;
	}
	.navbar {
	    margin-bottom: 0px;
	     float: unset; 
	}
	.banner_section_content h2 {
	    font-size: 23px;
	}

}

@media screen and (max-width: 640px){
	.audio_player h2 {
	    
	    font-size: 15px;
	}
	.celebrate_year img {
	    
	    left: 250px;
	}
	.top_header_content {
	   
	    top: -65px;
	}
}

@media screen and (max-width: 480px){
	.clear_advice h3 {
	   
	    font-size: 20px;
	}
	a.audfile {
	   
	    font-size: 11px;
	}
	.audio_player h2 {
	    font-size: 11px;
	}
	.solicitor_images img {
	    width: 379px;
	    margin-bottom: 20px;
	   
	}
	.solicitor_designation {
	   
	    margin-left: 20px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	    font-size: 14px;
	}
	.celebrate_year img {
	    left: 158px;
	}
	.top_header_content ul li {
	  
	    margin-left: 8px;
	}
	.top_header_content {
	    top: 0px;
	    right: 160px;
	}
	.navbar-header{
		margin-bottom: 10px;
	}

}
@media screen and (max-width: 420px){
	.celebrate_year img {
	    left: 104px;
	}
	.top_header_content {
	     position: unset; 
	    
	}
	.top_header_content ul {
	     float: unset; 
	    
	}
	.faul{
		    top: -53px;
    position: absolute;
    right: 0;
	}

}
@media only screen and (max-width: 360px) {
	.banner_section_content h2 {
	    font-size: 19px;
	}
	.wellcome_text h3, .how_can_help_text h3, .sideber_title h3  {
	    font-size: 19px;
	}
	.wellcome_text p, .how_can_help_text p {
	    font-size: 15px;
	}
	.footer_information h3 {
	    font-size: 28px;
	}
	.footer_information li {
	    font-size: 16px;
	}
	.personal_injury {
	   
	    font-size: 16px;
	}
	.home_and_hospital, .you_will_be, .no_win_to_fee, .sidebar_overseas_title, .textimonial_title h3 {	    
	    font-size: 17px;	    
	}
	.solicitor_images img {
	    width: 100%;
	    
	}
	.bg_col {
	   
	    top: 0px;
	}
	.navbar-default .navbar-nav>li>a {
	    font-size: 14px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	    font-size: 12px;
	}
	.celebrate_year img {
	    left: 95px;
	}
	.top_header_content {
	    top: -21px;
	    left: 24px;
	}
	.faul{
		position: absolute;
		right: 0px;
		top: -74px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    margin-top: 7px;
	    background: #fff;
	}
	.top_header_content {
	     position: unset; 
	    
	}
	.top_header_content ul {
	     float: unset; 
	    
	}
	.logo_image img {
	    width: 230px;
	    
	}
}

@media only screen and (max-width: 320px) {
	.right_sideber_body label {
	    font-size: 16px;
	}
	.footer_short_discription p {
	  
	    font-size: 16px;
	}
	.copyright p {
	    font-size: 15px;
	}
	.footer_information li {
	    font-size: 12px;
	}
	.footer_information h3 {
	    font-size: 25px;
	}
	
	.all_page_content_title h2 {
	   
	    font-size: 21px;
	}
	.personal_injury {
	    font-size: 13px;
	}
	.top_header_content ul li {
	    margin-left: 4px;
	}
	.top_header_menu img {
	    margin-right: 4px;
	}
	.top_header_content ul {
	     float: unset; 
	    
	}
	.faul {
   
	    top: -71px;
	}
	.logo_image img {
	    width: 210px;
	}
	.celebrate_year img {
	    left: 74px;
	}
	.banner_section_content {
	   
	    padding: 30px 5px;
	    
	}

}